@tailwind base;
@tailwind components;
@tailwind utilities;

/* Sidebar transition overrides (optional) */
.sidebar-transition {
  transition-property: width, background-color, color, opacity;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  @apply bg-gray-900;
}

/* Add global styles here */ 